
*{
    max-width:1600px;
    max-height: 5180;
}
nav{
    background-color:#F5F5F5;
}
.nav-sign{
    font-size: 25px;
    background-color: rgb(94, 198, 246);
}
.nav-title{
    font-size: 32px;
}
.nav-button{
    width: 116;
    height: 52px;
     
    display: flex;
    justify-content: space-between;
    padding:30px;
    text-align: center;
}
.Explore-button{
    background-color:#006A50;
    color: #FFFFFF;
    margin-left: 60px;
    margin-bottom: 140px;
    font-size: 30px;
    border-radius: 8px;
    border: none;
     
    
}
.details{
    display: flex;
}
.flag-image{
padding: 64px;

}

.headline{
    margin: 60px;
    margin-top: 140px;
    font-size:56px;
} 
.bg-color{
    border-radius: 24px;
    background-color: #3C916A;
}
/* section style */
h1{
    font-size: 40px;
     
     
}
/* .my-experience{
    font-size: 20px;
    text-align: center;
    justify-content: center;
    margin: 50px;
} */
.power{
    display: flex;
    gap: 25px;
}
.power-title{
    font-size: 20px;
}
.power-discription{
    font-size: 16px;
}
.skill{
    padding: 25px;
    border-radius: 16px;
    box-shadow: 0px 4px 50px 0px #F1F1F3;
}
/* future section */
.vision{
    font-size: 40px;
    /* margin: 30px; */
}
.title-bangladesh{
    font-size: 25px;
}

.energy-source{
    display: flex;
    gap: 25px;
    padding: 24px;
    /* justify-content: space-around; */
     
}
.energy-title{

}

.digital{
    background-color: #81B4FC;
    border-radius: 5px;
    padding: 30px;
}
.Green{
    background-color: #C6E4D6;
    border-radius: 5px;
    padding: 30px;
}
.Modern{
    background-color: #F7EBCF;
    border-radius: 5px;
    padding: 30px;
}
.dig-btn{
    background-color: #5490F5;
    margin: 32px;
    font-size: 16px;
    padding: 20px;
    border-radius: 11px;
    border: none;
}
.gre-btn{
    background-color: #09A15C;
    margin: 32px;
    font-size: 16px;
    padding: 20px;
    border-radius: 11px;
    border: none;
}
.mod-btn{
    background-color: #FFC239;
    margin: 32px;
    font-size: 16px;
    padding: 20px;
    border-radius: 11px;
    border: none;
}
/* Dr. Muhammad Yunus */
/* ./B11A1--assignment-1/assets/quote-bg.png */
.BD{
    background-image: url(./B11A1--assignment-1/assets/quote-bg.png);
    background-repeat: no-repeat;
    font-size: 16px;
    padding: 24px;
     
}
.bg-clr{
    background-color:#F5F5F5;
    border-radius: 16px;
}

/* Matter */
.matters{
     background-color: #F1F1F3;
    
}
.Questions{
    display: flex;
    justify-content: space-between;
    font-size: 20px;
    background-color: #C6E4D6;
     
}
.agree-btn{
    display: flex;
    justify-content: space-between;
    font-size: 16px;
}

/* Recent NeWs here  */
.news{
    font-size:40px;
    font-weight: bold;
}
.extra{
    font-size: 16px;
    font-weight: bold;
   
}
.satelight{
    /* border-radius: 20px; */
    display: flex;
    margin-top: 10px
}
.satelight-title{
    margin: 18px;
}
.time-date{
    /* display: flex; */
    /* display: inline; */
}
.read{
    font-size: 20px;
    font-weight: 500px;
    background-color: #2FB493;
    border-radius: 8px;
    border: none;
    padding: 13px;
    margin: 24px;
}
/* Title-02 */
.satelight{
    display: flex;
    margin-top: 10px;
}

.satelight-title{
    margin: 18px;
}
.time-date{
    display: flex;
}
.read{
    font-size: 20px;
    font-weight: 500px;
    background-color: #2FB493;
    border-radius: 8px;
    border: none;
    padding: 13px;
}
.satelight-titles{
    display: flex;
}
.donate{
    background-color: #f0eded;
    text-align: center;
    
}
.donate-box{
    background-color: #F1F1F3;
}
.taka{
    background-color: #FFFFFF;
    border-radius: 8px;
}
.total-taka{
    padding: 40px;
    font-size: 40px;
    gap: 25px;
    font-weight: bold;
    display: flex;
    justify-content: space-around;
}
.taka-2{
    font-weight: bold;
    border-radius: 8px;
    background-color: #98daca;
}
.amount{
    text-align: center;
    font-size: 20px;
    justify-content: center;
}
.other-amount{
    background-color:#FFFFFF;
    text-align: center;
    font-size: 20px;
    margin: 0px 25px 25px 0px;
    border-radius: 12px;
    border: none;
    padding: 20px 150px;
    opacity: 60%;

}
.done-button{
    text-align: center;
    font-size: 20px;
}
.done{
    font-size: 18px;
    background-color: #09A15C;
    border-radius: 8px;
    border: none;
    padding: 20px
}
/* Footer section */
.feedback{
    text-align: center;
    background-color: #C6E4D6;
    border-radius: 16px;
}
.subscribe{
    font-size: 40px;
    
    /* font-weight: bold; */
    
}
.subs-btn{
    font-size: 20px;
    padding: 17px;
    border: none;
    border-radius: 8px 0px  0px 8px;
    /* margin-bottom: 25px; */
}
.bg{
    background-color: #03906d;
    font-size: 20px;
    padding: 17px;
    border: none;
    border-radius: 0px 8px 8px 0px;
}
.sub{
    margin-bottom: 80px;
}
/* Part number 03 */
.bd{
    font-size: 32px;
    font-weight: bold;
}
.bd-logo{
    text-align: center;
}